# Python
.venv/
__pycache__/
*.pyc

# Data and Cache
cache/
_intermediate/
_output/
_processed/

# IDE and OS files
.vscode/
.idea/
*.DS_Store

# Frontend
ui/frontend/node_modules/
ui/frontend/dist/
ui/frontend/.vite/

# Logs
*.log
